PORT=5001
MONGODB_URI=mongodb+srv://rishabh14102005:about8081@cluster0.87lmxzy.mongodb.net/?appName=Cluster0
JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRE=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
